{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [0],
    "jsx-quotes": ["error", "prefer-single"],
    "jsx-a11y/anchor-is-valid": [0],
    "react/prop-types": [0]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "exclude"
  },
}

